<table class='table'>
  <th>Image</th>
  <th>Name</th>
  <th>Description</th>
  <th>Qty</th>
  <th>Unit Price</th>
  <tbody>
  <% @products.each_with_index do |p, index| %>

  <tr>
    <td>
      <%=image_tag p.image.tiny%>
    </td>
    <td>
      <%=p.name%>
    </td>
    <td>
      <%=p.description%>
    </td>
    <td>
      <%=@order_details[index].quantity%>
    </td>
    <td>
      <%= humanized_money_with_symbol @order_details[index].item_price_cents/100%>
    </td>
  </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" style="text-align: right; font-size: 1.2em; font-weight: bold">
      Total: <%= humanized_money_with_symbol @order.total_cents / 100 %>
    </td>
    </tr>
  </tfoot>
</table>